html, body {
  font-family: 'Open Sans';
}

.ng-enter {
  transition: 0.75s;
  opacity: 0;
}

.ng-enter-active {
  opacity: 1;
}

/* START: Main Page (Login)*/
#welcomeScreen, #welcomeScreen_manager, #welcomeScreen_trainer, #welcomeScreen_trainee {
  background-image: url("img/forest-jogging.png");
  background-position: bottom;
  height: 100vh;
  background-size: cover;
  overflow: auto;
}

#welcomeScreen_manager {
  background-image: url("img/ofis.png");
}

#welcomeScreen_trainer {
  background-image: url("img/trainer2.png");
  background-position: center;

}

#welcomeScreen_trainee {
  background-image: url("img/jogging2.png");
  background-position: center;

}

#introText {
  font-size: 10vh;
  letter-spacing: 5vw;
  padding-top: 20vh;
  color: white;
  font-weight: bold;
}

#introText_explanation {
  font-size: 4vh;
  text-align: center;
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
}

#loginOptions {
  padding-top: 5vh;
  color: #bbb;
  font-size: 1.5vh;
}

#loginPanel {
  background-color: transparent;
}

#clientTypeText {
  text-align: center;
  font-size: 3.5vh;
  margin-bottom: 5vh;
  cursor: pointer;
}

#loginType_explanation {
  font-size: 2vh;
}

#loginType_explanation > ul > li {
  list-style-type: circle;
}

#loginPanel:hover {
  color: white;
}
/*
#loginType_explanation > ul > li::first-letter {
  /*color: #bbb;  #039be5
  color: white;
}
*/

/* END: Main Page (Login)*/

/* START: Specific Login screen for Trainees/Trainers/Managers */

#login_wrapper {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 15vh;
  padding: 5vh;
  min-height: 50vh;
}

/* END: Specific Login screen for Trainees/Trainers/Managers */

/* START: CSS For in_manager.html */
.dropdown-content {
  background-color: transparent;
  margin-top: 8vh;
}

.dropdown-content li, .dropdown-content li>span {
  padding: 0.5vw;
  background-color: transparent;
  color: white;
  font-size: 1.5vh;
}

.dropdown-content li:hover {
  background-color: #ccc;
}

.activeTab {
  display: block;
  text-align: center;
}

.hiddenTab {
  display: none;
}

#login_wrapper li {
  display:inline;
}


#editEquipmentsText li, #editCoursesText li, #checkPaymentsText li, #editStaffText li {
  display: none;
}

button {
  background-color: transparent;
}

td button {
  /*background-color: red;
  border-radius: 100%;
  color: white;
  border-color: red;*/
}



/* END: CSS For in_manager.html */
